# This is a basic workflow that is manually triggered

name: Safari, Edge

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on: [push, pull_request]

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
      - run: bin/osx/setup-rabbit.sh
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm ci
      - run: npm run build
      - run: npx karma start spec/karma.conf.js --single-run --browsers=Safari
      - run: npx karma start spec/karma.conf.js --single-run --browsers=EdgeHeadless
